<html>
<head>
  <title>Psych Survey</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-dark">
  <a href="/survey">Back to homepage.</a>
  <div class="container">
  <h2 class="bg-dark text-danger">By taking our survey, you give consent to relinquish all data given including keyboard and mouse inputs. This survey is taken anomymously and we encourage you to enter an unrecognizable username so no human will ever trace your data to you. By most standards, this site's data collection is fairly benign compared to most major websites you visit, we're just telling you about it up front. If you object to any of these conditions, please do not take the survey.</h2>
  </div>

  <div class="container">
    <h3><a href="/survey/new/a"> I understand!</a></h3>
  </div>
</body>
</html>
